<div class="container mt-5">
<div class="card">
  <div class="card-body">
      <h1>About</h1>
    <p>This App uses nodeJS and MongoDb. I have also used bootstrap5 and CSS3 for page visuals.Other npm's used in this application :express, express-handlebar, express-session, method-overrride, mongoose, passport, passport-local,bcrypjs & connect-flash</p>
  </div>
</div>
</div>
