<div class="container mt-5">
<div class="card">
  <div class="card-body">
      <h1>About</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut deserunt eligendi alias? Fugiat ut cumque molestiae, quasi dolorem illum velit temporibus nihil labore architecto perspiciatis! Rem ab fuga aliquid consectetur?</p>
  </div>
</div>
</div>
