<div class="jumbotron my-5 py-4 ">
    <div class="container bg-light">
  <h1 class="display-4 pt-4">Note App with Nodejs and Mongodb!</h1>
  <p class="lead">lorem, ipsum</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, eum sint! Vitae cumque exercitationem corporis libero amet eum repellendus, laboriosam temporibus aut quae, dolor rerum eveniet consequuntur nostrum consequatur earum!.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg mt-3 mb-5" href="https://github.com/capzink" role="button">Capzink Github</a>
  </p>
  </div>
</div>